{% extends 'base.html' %}

{% block main_content %}
    <form action="{{ url_for('edit_book', book_id=book.id) }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="bookTitle" class="form-label">Название книги</label>
          <input type="text" required class="form-control" name="title" id="bookTitle" value="{{ book.title }}">
        </div>
        <div class="mb-3">
          <label for="bookYear" class="form-label">Год</label>
          <input type="text" required class="form-control" name="year" id="bookYear" value="{{ book.year }}">
        </div>
        <div class="mb-3">
          <label for="bookPublisher" class="form-label">Издательство</label>
          <input type="text" required class="form-control" name="publisher" id="bookPublisher" value="{{ book.publisher }}">
        </div>
        <div class="mb-3">
          <label for="bookAuthor" class="form-label">Автор</label>
          <input type="text" required class="form-control" name="author" id="bookAuthor" value="{{ book.author }}">
        </div>
        <div class="mb-3">
          <label for="bookPageCount" class="form-label">Количество страниц</label>
          <input type="text" required class="form-control" name="page_count" id="bookPageCount" value="{{ book.page_count }}">
        </div>
        <div class="mb-3">
          <label for="bookGenres" class="form-label">Жанры</label>
          <select class="form-select" required multiple aria-label="Multiple select example" name="genres_id">
              {% for genre in genres %}
                 <option value="{{ genre.id }}" {% if genre.id in book_genre_ids %} selected {% endif %}>{{ genre.name }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="bookDescription" class="form-label">Описание книги</label>
          <textarea class="form-control" id="bookDescription" required name="short_description" rows="3">{{ book.short_description }}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>
{% endblock %}

{% block additional_scripts %}
    <script>
      const easyMDE = new EasyMDE({
        element: document.getElementById('bookDescription'),
        forceSync: true,
      });
    </script>
{% endblock %}
