{% extends 'base.html' %}

{% block content %}
    <h4 class="mb-3">Вход в систему</h4>
    <form method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="login" id="usernameInput" placeholder="Логин" value="{{ request.form.username }}">
            <label for="usernameInput">Логин</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Пароль">
            <label for="passwordInput">Пароль</label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="remember_me" id="rememberMeCheck">
            <label class="form-check-label" for="rememberMeCheck">Запомнить меня</label>
        </div>
        <button class="btn btn-primary">Войти</button>
    </form>
{% endblock %}
